# Firebase / Functions
/functions/node_modules/
/functions/.env
*.log

# Supabase
supabase.exe
supabase/.temp/

# Node
node_modules/

# Keys & secrets
*.keystore
*.jks
.env
.env.*

.DS_Store

# Build & IDE
.gradle/
.idea/
local.properties
build/
*.iml
